<!--<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card> -->
<script src=".\card\javascript-file.js"></script>
  <section class="services-section">
		<div class="auto-container">
			<div class="sec-title">
				<h2>Explore How can we Help You</h2>
			</div>
			<div class="inner-container">
				<div class="services-carousel owl-carousel owl-theme">
				
					<!-- Service Block -->
					<div class="service-block">
						<div class="inner-box">
							<div class="image">
								<a href=""><img class="transition-500ms" src="assets/images/Services/service-1.jpg" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="lessons color-three">20+ Lessons</div>
								<div class="lower-box">
									<h4><a href="">Coaching</a></h4>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block translate-top">
						<div class="inner-box">
							<div class="image">
								<a href=""><img class="transition-500ms" src="assets/images/Services/service-2.jpg" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="lessons color-three">20+ Lessons</div>
								<div class="lower-box">
									<h4><a href="">Self Development</a></h4>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block">
						<div class="inner-box">
							<div class="image">
								<a href=""><img class="transition-500ms" src="assets/images/Services/service-3.jpg" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="lessons color-three">20+ Lessons</div>
								<div class="lower-box">
									<h4><a href="">Consulting</a></h4>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block translate-top">
						<div class="inner-box">
							<div class="image">
								<a href=""><img class="transition-500ms" src="assets/images/Services/service-4.jpg" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="lessons color-three">20+ Lessons</div>
								<div class="lower-box">
									<h4><a href="">Courses</a></h4>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block">
						<div class="inner-box">
							<div class="image">
								<a href=""><img class="transition-500ms" src="assets/images/Services/service-5.jpg" alt="" /></a>
							</div>
							<div class="lower-content">
								<div class="lessons color-three">20+ Lessons</div>
								<div class="lower-box">
									<h4><a href="">Lifetime Support</a></h4>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>